@media only screen and (min-width: 1281px) {

}
@media only screen and (min-width: 768px) and (max-width: 1280px) {


}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	/*nav*/
	.logo{
		float: right;
		margin: 20px;
	} 
	button.navbar-toggle{
		margin: 20px;
		border: none;
	}
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
	/*nav*/
	.logo{
		float: right;
		margin: 20px;
	}   
	button.navbar-toggle{
		margin: 20px;
		border: none;
	}
}