*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: black;
}
/*modificacion toggle bootstrapt*/
.navbar-toggle{
	float: left;
}
/*nav-logo*/
.logo{
    margin: 20px;
}
ul.nav.navbar-nav.navbar-right{
    margin: 20px;
}
/*hero*/
.hero{
	background-image: url(../img/taxi.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top: -20px;
}
/*formulario-hero*/
form{
	width: 500px;
	height: 400px;
	float: right;
	background-color: #f7b617;
	color: #fff;
	font-weight: 600;
}
form.form-horizontal{
	padding: 20px 70px;
	margin-top: 80px;
}
button.btn.btn-primary{
	color: #000;
	font-weight: 800;
	border: none;
	background-color: whitesmoke;
}
div.form-group h2{
	padding: -10px;
}
div.form-group input{
	padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: solid 2px whitesmoke;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
}
.little-box{
	display: none;
	width: 300px;
	height: 250px;
	float: right;
	background-color: #f7b617;
	color: #fff;
	font-weight: 600;
	margin-top: 40px;
}
div.form-group.little{
	margin: 10px 30px;
    padding: 10px;
}
button.btn.btn-primary{
	margin: 0 40px;
}
div.form-group.little h3{
	margin: 20px;
    padding: 10px;
    font-size: 30px;
}
/*info-app*/
section.info-app{
	height: 450px;
	background-color: #f7b617;
	color: #fff;
}
.border-blanco{
	border: 2px solid #fff;
	height: 400px;
	margin: 30px;
	margin-left: 0;
}
div.info-app.text-center{
	padding: 40px;
}
/*info-app-xs*/
.border-blanco-xs{
	display: none;
}
/*section-conduce*/
.conduce{
	background-image: url(../img/conduce.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -20px;
}
.big-box{
	background-color: rgba(0, 0, 0, 0.5);
	float: right;
	height: 400px;
}
/*section tarifa*/
section.tarifa{
	background-color: #f7b617;
	height: 400px;
}